.DS_Store

# dotfiles - folders
/gits

# dotfiles - files
/zshrc.sh
/zshrc_oh-my-zsh.sh

# special docker files
/docker-bin/dotfiles-docker-build-*
/docker-bin/dotfiles-docker-rm-*

# files from DOTS projekts
/bin/code
/bin/kubectx
/bin/kubens

# template target files
/configs/.gitconfig
